@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    padding: 15px;
    font-size: 20px;
}

.icon {
    height: 30px;
    width: 30px;
}

.proyects {
    background-color: rgb(137, 66, 209);
    margin: 15px;
    width: 400px;
    color: rgb(50, 16, 82);
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.contenedores {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
}

.img-proyects {
    padding-top: 30px;
    width: 320px;
    height: 320px;
    border-radius: 5px;
}

.title-proyect {
    padding-top: 15px;
}

.title {
    padding-top: 25px;
    text-align: center;
}

body {
    background-image: url(../img/fondo.jpg);
}

.icons {
    display: flex;
    padding-right: 15px;
}

.description-proyect {
    padding-top: 7px;
    padding-bottom: 5px;
}

.bottom-proyect {
    background-color: rgb(255, 255, 255);
    line-height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 15px;
}
/* ----------------------- NAV ------------------------*/  

nav {
    display: flex;
    justify-content: space-between;
}
.icons-nav {
    padding-left: 30px;
}
.nav-title {
    padding-left: 15px;
}

/* ----------------------- FOOTER ------------------------*/  

footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    height: 60px;
}
.footer-text {
    padding-top: 7px;
    font-size: 18px;
}

/* ----------------------- COLORES ------------------------*/

.violeta {
    background-color: rgb(125, 50, 196);
}

.blanco-tx {
    color: white;
}