* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------MENU--------------*/

.posrel {
    position: relative;
    width: 100%;
}

.cerrar_menu {
    position: fixed;
    top: 0;
    background-color: rgb(181, 181, 181);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerrar_menu button {
    position: absolute;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    left: 40px;
}

.cerrar_menu h3 {
    width: 100%;
    text-align: center;
}

.pad_top60 {
    padding-top: 60px;
}

.lista_menu {
    background-color: rgb(208, 208, 255);
    height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.item_menu {
    background-color: yellow;
    height: 150px;
    display: flex;
    width: 80%;
    align-items: center;
    gap: 10px;
}

.item_imagen {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

.item_detalle {
    line-height: 30px;
    width: calc(100% - 100px);
    background-color: blueviolet;
}

.item_imagen .rate {
    background-color: aqua;
    font-size: 9pt;
    height: 25px;
    line-height: 30px;
    border-radius: 10px 0 10px 0;
    right: 0;
    bottom: 15px;
}