@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/* Inicio NavBar */

.navbar {
    width: 100%;
    height: 65px;
    background-color: rgba(104, 102, 102, 0.8);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-options {
    display: flex;
    gap: 45px;
    flex-direction: row;
}

.container-header {
    height: 800px;
}

.buttom-header {
    padding: 16px 24px;
    background-color: rgba(255, 102, 0, 0.224);
    color: #ff4400;
    border-radius: 40px;
}

span {
    color: #ff4400;
}

.container-info-me {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 10;
    gap: 10px;
}

.vg-page {
    position: relative;
}

.page-home {
    padding: 25px 0;
    width: 100%;
    height: 700px;
    z-index: 12;
}

.page-home::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(62, 57, 57, 0.8);
    z-index: -1;
}

/* Infomacion mia */
.info-mia {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    gap: 15px;
    align-items: flex-start;
}

.image-mia {
    width: 380px;
    border-radius: 3px;
}

.container-info-mia {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.p-info-mia {
    font-size: 20px;
}

.span-info-mia {
    font-size: 23px;
}

/* Inicio Boton Reglamento */

.custom-btn {
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.btn-1 {
    background: #ff4400;
}

.custom-btn:hover {
    background-color: #e13d02;
}

.container-buttom {
    display: flex;
    justify-content: center;
}

/* Fin Boton Reglamento */

/* Fin Informacion mia */

/* Proyectos */
.container-proyectos {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
.title-principal{
    width: 100%;
    height: 70px;
    background-color: rgba(104, 102, 102, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 30px;
}
.mis-proyectos {
    padding-top: 100px;
    padding-bottom: 60px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto0 {
    background-color: #ff4400;
    gap: 15px;
    width: 350px;
    height: 360px;
    border-radius: 5px;
}

.proyecto1 {
    background-color: #000000;
    gap: 15px;
    width: 350px;
    height: 360px;
    border-radius: 5px;
}

.proyecto2 {
    background-color: #006eff;
    gap: 15px;
    width: 350px;
    height: 360px;
    border-radius: 5px;
}
.container-img-proyecto{
    height: 250px;
}
.img-proyecto{
    width: 100%;
    height: 100%;
}
.info-proyecto{
    background-color: rgb(122, 120, 120);
    text-align: center;
    height: 110px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-proyecto{
    padding-bottom: 10px;
    color: white;
}
.p-proyectos{
    background-color: #e13d02ca;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}
/* Fin Proyectos */